*{
    margin: 0px;
    padding: 0px;
}

body{
    /* background-color: transparent !important; */
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;

}

#h1{
    font-size: 10vh;
    text-align: center;
    padding-bottom: 8vh;
}
#h2{
    text-align: center;
}

.con{
    /* border: 1px solid black; */
    height: 65vh;
    width: 120vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* background-color: beige; */
}

.el{
    height: 40vh;
    width: 34vmin;
    /* border: 1px solid slateblue; */
    border-radius: 10px;
    background-color: transparent;
    transition: all 0.1s ease-in-out;
    /* transform: ; */
}

.st{
    background-image: url("stone.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.pa{
    background-image: url("paper.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.si{
    background-image: url("scissors.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.screen{
    transition: opacity 0.5 ease-in-out;
    opacity: 1;
}

.hide{
    display: none !important;
    opacity: 0;
}

.hh{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 80vmin;
    font-size:150px ;
    opacity: 1;
    transform: scale(1);
    transition: all 0.1s ease-in-out;
    margin: auto;
}

.op0{
    opacity: 0 !important;
    /* transform: scale(0.8); */
}

.res{
    /* border: 1px solid black; */
    height: 65vh;
    width: 120vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    font-size: 100px;
    margin: auto;
}

.op{
    font-size: 40px;
    height: 65vh;
    width: 50vmin;
    text-align: center;
    /* border: 1px solid slateblue; */
    border-radius: 10px;
    /* display: flex; */
    /* align-items: center; */
}

.left,.right{
    /* border: 1px solid slateblue; */
    margin-top:30px;
    height: 45vh;
    width: 34vmin;
    background-size: contain;
    background-repeat: no-repeat;
}

.fres{
    /* border: 1px solid slateblue; */
    height: 90vh;
    width: 120vmin;
    margin: auto;
    font-size: 100px;
    color: darkgoldenrod;
    text-align: center;
    /* padding-bottom:20px ; */
}

.win{
    /* border: 1px solid slateblue; */
    margin:auto;
    margin-top: 15vh;
    height: 45vh;
    width: 34vmin;
    background-size: contain;
    background-repeat: no-repeat;
}

.reset{
    height: 40px;
    width: 60px;
    background-color: goldenrod;
    border: none;
    border-radius: 0.3rem;
    transition: all 0.3s ease-in-out;
}